.main{
    display: inline-block;
    background-color: #f9f9f9;
}
.video-preview-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;
}
@media (max-width: 588px){
    .video-preview-grid{
        grid-template-columns: 1fr;
    }
}

@media (min-width: 588px) and (max-width: 875px){
    .video-preview-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1160px){
    .video-preview-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-time{
    position: absolute;
    right: 5px;
    bottom: 10px;
    color: white;
    background-color: #000000cc;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
    padding: 1px 4px 1px 4px;
}
.video-thumbnail{
    width: 100%;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.channel-avt-column{
    margin-right: 10px;
}
.video-title{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 5px 0;
    padding: 0 1.2px 0 0;
    width: 100%;
}
.channel-name{
    color: #606060;
    font-size: 12px;
    margin: 0 -1.2px 0px 0;
}
.video-stats{
    color: #606060;
    font-size: 12px;
    margin-top: 3px;
}
