.main{
    display: inline-block;
    background-color: #f9f9f9;
}
.video-preview-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;
    
}
.thumbnail-row{
    margin-bottom: 10px;
}
.video-thumbnail{
    width: 100%;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.channel-avt-column{
    margin-right: 10px;
}
.video-title{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 5px 0;
    padding: 0 1.2px 0 0;
    width: 100%;
}
.channel-name{
    color: #606060;
    font-size: 12px;
    margin: 0 -1.2px 0px 0;
}
.video-stats{
    color: #606060;
    font-size: 12px;
    margin-top: 3px;
}